#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.slidecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#ticker {
  position: absolute;
}

#counter {
  position: absolute;
}